<!DOCTYPE html>
<html>
  <head>
    <title>BAZ OR NOT</title>
    <link rel='stylesheet' href='/static/stylesheets/style.css' />
    <script src='/static/js/baz.js' />
  </head>
  <body>
    <!-- Put button here -->
  </body>
</html>
