<!DOCTYPE html>
<html>
  <head>
    <title>BAZ OR NOT</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src='/js/baz.js'></script>
  </head>
  <body>
    <input id="bazInput" type="text" placeholder="Text here" required>
    <button class="btn" onclick="submitBazForm()">Submit</button>
    <span id="bazResult"></span>

    <form action="/" method="POST">
      <input id="contactName" type="text" name="name" placeholder="Test" required>
      <input type="submit"</input>
    </form>
  </body>
</html>
