<!DOCTYPE html>
<html>
  <head>
    <title>BAZ OR NOT</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src='/js/baz.js'></script>
  </head>
  <body>
    Hello world!
    <!-- Add button here -->
  </body>
</html>
